$background: #12011f;
$secondColor: #6c0ab7;
$cardTextColor: #fff;

.nav {
  h2 {
    cursor: pointer;
    font-size: 2rem;
    color: $cardTextColor;
    padding-left: 1rem;
  }

  button {
    color: $cardTextColor;
  }
  background-color: $secondColor;
  display: flex;
  justify-content: space-between;

  .nav-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-basis: 124px;
    color: $cardTextColor;
    cursor: pointer;
  }
}

.profile-div {
  background-image: linear-gradient(
    $secondColor,
    lighten($background, 22%),
    lighten($background, 17%),
    lighten($background, 15%),
    lighten($background, 10%),
    $background
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.profile-card {
  border-width: 1px;
  box-shadow: 0px 4px 20px 2px #6a15aa;
  width: 500px;
  margin: 20px;
  margin-bottom: 20rem;
  color: $background;

  button {
    margin: 0.2rem 0;
  }
}
.mat-card-header {
  color: darken($secondColor, 10%);
  justify-content: center;
}

.profile-content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 2rem;
  p {
    margin-left: 1rem;
    font-weight: 400;
  }

  h4 {
    color: $secondColor;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

.profile-photo {
  width: 10rem;
  height: 10rem;
  background-image: url("https://cataas.com/cat");
  background-size: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: $secondColor;
}

.profile-button-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
}

.update-button {
  color: $cardTextColor;
  background-color: lighten($secondColor, 10%);
}

.delete-button {
  color: $secondColor;
}

@media (max-width: 445px) {
  .mat-card > :first-child {
    margin-top: 1rem;
  }
  .profile-content-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    margin-top: 1rem;
    .mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .profile-card {
    margin-bottom: 10rem;
  }

  .profile-content-container {
    h4 {
      margin-left: 0;
    }
    p {
      margin-left: 0;
    }
  }
  .mat-card {
    max-height: 75%;
  }
}
